<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for comments in all %}
    <img style="width: 10%;" src="{{comments.Picture.url}}"><br>
    <a href="{% url 'COMMENTS:Comment' comments.id %}">{{comments.Title}}</a> <br>
    {{comments.Description}} <br>

    <button><a href="{% url 'COMMENTS:UpdateComment' comments.id %}">Update</a></button>
    <button><a href="{% url 'COMMENTS:DeleteComment' comments.id %}">Delete</a></button>
     <br><br><br>

    {% endfor %}

    <br>
    
    <button><a href="{% url 'COMMENTS:AddComment'%}">POST A COMMENT</a></button>
    
</body>
</html>