<h1>REGISTER</h1>


{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}


<form action="" method="POST">
    {% csrf_token %}

    <input type="text" placeholder="FIRST NAME" name="fname" required/><br>
    <input type="text" placeholder="LAST NAME" name="lname" required/><br>
    <input type="text" placeholder="USERNAME" name="username" required/><br>
    <input type="email" placeholder="EMAIL" name="email" required/><br>
    <input type="password" placeholder="PASSWORD" name="password1" required/><br>
    <input type="password" placeholder="CONFIRM" name="password2" required/><br>
    <input type="submit"/>

</form>